</main>
  <body>
    <footer>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/monsters">Monsters</a></li>
      </ul>
    </footer>
  </body>
</html>