<!DOCTYPE html>
<html>

<head>
  <title>Wilds API Site</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
 <%if (locals.error) {%>
            <div id="tag-error" class="tag-error">
              <%=error%>
            </div>
    <%}%>

  <h1>Monster Hunter Wilds API Query Project</h1>
  <p>
    Welcome!  This is a custom website built with Express that queries the <a href="https://docs.wilds.mhdb.io/">MH Wilds Public API</a> to display information about the Large Monsters and Locations.  Use the links in the footer to navigate.
  </p>
</body>

<%- include("partials/footer.ejs") %>

</html>