body {
  min-height: 100vh;
  background: linear-gradient(
          rgba(0, 0, 0, 0.268), 
          rgba(0, 0, 0, 0.7)
        ), url("../images/monster-hunter-wilds-all-hunter-profile-backgrounds-v0-V5XsT9xSSbcixAvu3KvYMIn67CDict1QxwmAMa-HU2k.webp");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  background-position: center; /* Center the image */
  /* background-color: rgba(0, 0, 0, 0.604);
  background-blend-mode: darken; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding-top: 1rem;
  /* padding-bottom: 2rem; */
  padding-left: 10rem;
  padding-right: 10rem;

  /* box-sizing: border-box; */
  color:white;
  font-size: 24px;
  font-family: "Markazi Text", serif;
  
  line-height: .8;
}

/* .monsterContainer{
    margin-bottom: 20rem;
} */

.monsterIcon{
  max-width: 100px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.monsterInfo{
  justify-content: center;
}


.renderImg{
  width: 700px;
}

/* .monsterDesc{
  display:inline;
} */

::selection {
  background: #ffc44f90;
}

.homeContainer{
  display: flex;
}

.homeDetails{
  flex: 1;
}

.tab {
  position: relative;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  color: var(--theme);
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
}

.tab__label,
.tab__close {
  display: flex;
  color: white;
  background: var(--theme);
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}

form{
  margin-top: 5rem;
}

@media (max-width: 600px) {
  .homeContainer, modal{
    display:inline;
  }
}

label{
  font-size: 26px;
  font-weight: bold;

}

select, option{
  height: 4vh;
  font-family: "Markazi Text", serif;
  font-weight: bold;
  background-color: #473e36;
  color:#ffc44f;
  font-size: 24px;
  padding-left: 10px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  background-color: #ffc44f;
  font-family: "Markazi Text", serif;
  font-weight: bold;
  font-size: 24px;
  padding: 5px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color:#473e36;

}

.button:hover {
  background-color: #473e36;
  color:#ffc44f;
}

li h4{
  line-height: .5;
}

 h1, h2 {
  line-height: .75;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 2rem;
    opacity: 0.75;

}

a:hover{
  color:#ffc44f;
    opacity: 1;

}

footer {
  position: relative;
  width: 100%;
  /* background: #3586ff; */
  min-height: 100px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
    margin-top: auto;

}

footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .menu li {
  list-style: none;
}

footer .menu li a {
  font-size: 1.2em;
  /* color: #ccc; */
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
}

/* .response-area{
  display: grid;
  grid-template-columns: auto auto auto;
} */

.monsterCard{
  justify-content: center;
  /* background-color: #2422203f; */
  /* border: 2px solid; */
  min-width: 400px;
    transition: all 0.25s ease;

}

.monsterCard:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.25s ease;
}


.modalItem{
  margin: 20px;
}

