/* :root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
} */



body {
  min-height: 100vh;
  background: linear-gradient(
          rgba(0, 0, 0, 0.268), 
          rgba(0, 0, 0, 0.7)
        ), url("../images/monster-hunter-wilds-all-hunter-profile-backgrounds-v0-V5XsT9xSSbcixAvu3KvYMIn67CDict1QxwmAMa-HU2k.webp");
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-attachment: fixed;
  background-position: center; /* Center the image */
  /* background-color: rgba(0, 0, 0, 0.604);
  background-blend-mode: darken; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding-top: 1rem;
  /* padding-bottom: 2rem; */
  padding-left: 10rem;
  padding-right: 10rem;

  /* box-sizing: border-box; */
  color:white;
  font-size: 24px;
  font-family: "Markazi Text", serif;
  
  /* line-height: .8; */
}

.monsterDesc{
  display:inline;
}

::selection {
  background: #ffc44f90;
}

/* .card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
} */

.homeContainer{
  display: flex;
}

.homeDetails{
  flex: 1;
}


  /* Core styles/functionality */
.tab {
  position: relative;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  color: var(--theme);
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
}

.tab__label,
.tab__close {
  display: flex;
  color: white;
  background: var(--theme);
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}



@media (max-width: 600px) {
  .homeContainer{
    display:inline;
  }
}



/* .markazi-text-<uniquifier> {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .container {
  max-width: 1000;
  margin: 10px auto;
  padding: 20px; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

/* input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
} */

/* input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
} */

label{
  font-size: 26px;
  font-weight: bold;

}

select, option{
  height: 4vh;
  font-family: "Markazi Text", serif;
  font-weight: bold;
  background-color: #473e36;
  color:#ffc44f;
  font-size: 24px;
  padding-left: 10px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* option{
  font-family: serif;
  font-weight: bold;
  background-color: #473e36;
  color:#ffc44f;
  font-size: 18px;
} */

.button {
  background-color: #ffc44f;
  font-family: "Markazi Text", serif;
  font-weight: bold;
  font-size: 24px;
  padding: 5px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.button:hover {
  background-color: #473e36;
  color:#ffc44f;
}

li h4, li p{
  line-height: .5;
}

 h1, h2 {
  line-height: .75;
}


/* .card {
  background: url("../images/monster-hunter-wilds-all-hunter-profile-backgrounds-v0-V5XsT9xSSbcixAvu3KvYMIn67CDict1QxwmAMa-HU2k.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  font-family: "Gloria Hallelujah", cursive;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
} */

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 2rem;
    opacity: 0.75;

}

a:hover{
  color:#ffc44f;
    opacity: 1;

}

footer {
  position: relative;
  width: 100%;
  /* background: #3586ff; */
  min-height: 100px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
    margin-top: auto;

}

footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .menu li {
  list-style: none;
}

footer .menu li a {
  font-size: 1.2em;
  /* color: #ccc; */
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
}
